.header{
    position: fixed;
    width: 100vw;
    z-index: 3;
    color: #E8E7CB;
    
    .bar{
        margin: 2rem 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1vw;
        font-weight: 700;
        position: relative;
        // font-family: "DrukCond", sans-serif;


        a{
            text-decoration: none;
            color: inherit;
            display: inline-block;
            z-index: 4;
        }

        .region{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 4;

            .status {
                display: flex;
                align-items: center;
            }
            
            .blinkingDot {
                margin-left: .4rem;
                width: 6px;
                height: 6px;
                background-color: green;
                border-radius: 50%;
                display: inline-block;
                animation: blink 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
            }                    
            
        }        

        .el{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            cursor: pointer;

            .label{
                position: relative;
                display: flex;
                align-items: center;
                z-index: 4;
            }

            p{
                &:nth-of-type(2){
                    position: absolute;
                    opacity: 0;
                }
            }

            .burger{
                width: 22.5px;
                position: relative;
                z-index: 4;
                
                &::after, &::before{
                    content: "";
                    height: 1px;
                    width: 100%;
                    background-color: #E8E7CB;
                    position: relative;
                    display: block;
                    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
                }
    
                &::after{
                    top: -4px;
                }
    
                &::before{
                    top: 4px;
                }
            }
    
            .burgerActive{
                
                &::after{
                    transform: rotate(45deg);
                    top: -1px;
                }
    
                &::before{
                    transform: rotate(-45deg);
                    top: 1px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .header{
        .bar{
            font-size: 1.1vw;  
        }
    }
}

@media only screen and (max-width: 1080px) {
    .header{
        .bar{
            font-size: 1.8vw;
            .region {                
                p:nth-of-type(3),
                p:nth-of-type(1) {
                    display: none;
                }
            }      
        }
    }
}


@media only screen and (max-width: 928px) {
    .header{
        .bar{            
            .el {
                gap: 4px;

                .burger {
                    width: 20px;
                }
            }
        }
    }
}


@media only screen and (max-width: 778px) {
    .header{
        .bar{
            font-size: 2vw;
            .region {  
                justify-content: flex-end;              
                p:nth-of-type(2) {
                    display: none;
                }
            }      
        }
    }
}

@media only screen and (max-width: 600px) {
    .header{
        .bar{
            font-size: 1.2rem;
            margin: 2rem;
            max-width: calc(100vw - 20px * 2);

            .el {
                gap: 2px;

                .burger {
                    width: 16px;
                }
            }            
        }
    }
}

@media only screen and (max-width: 400px) {
    .header{
        .bar{
            font-size: 1.1rem;
                  
        }
    }
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }