.container{
    position: fixed;
    width: 100vw;
    z-index: 3;
    background-color: transparent;
    color: #E8E7CB;

    .bar{
        margin: 2rem 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.4rem;
        font-weight: 700;
        position: relative;

        // div:nth-of-type(1) {
        //     z-index: 4;

        // }

        a{
            text-decoration: none;
            color: #E8E7CB;
            display: inline-block;
            z-index: 4;
        }

        .region{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 4;

            div {
                display: flex;
                align-items: center;
                width: 50%;
                justify-content: space-between;

                &:nth-of-type(2) {
                    justify-content: flex-end;
                    gap: 2rem;
                }
            }
        }        

        .el{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            cursor: pointer;

            .label{
                position: relative;
                display: flex;
                align-items: center;
                z-index: 4;
            }

            p{
                &:nth-of-type(2){
                    position: absolute;
                    opacity: 0;
                }
            }

            .burger{
                width: 22.5px;
                position: relative;
                z-index: 4;
                
                &::after, &::before{
                    content: "";
                    height: 1px;
                    width: 100%;
                    background-color: #E8E7CB;
                    position: relative;
                    display: block;
                    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
                }
    
                &::after{
                    top: -4px;
                }
    
                &::before{
                    top: 4px;
                }
            }
    
            .burgerActive{
                
                &::after{
                    transform: rotate(45deg);
                    top: -1px;
                }
    
                &::before{
                    transform: rotate(-45deg);
                    top: 1px;
                }
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    .header{

        .bar{
            font-size: 1rem;
            margin: 2rem;
            max-width: calc(100vw - 20px * 2);

        }
    }
}