.container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    // background-color: yellow;

    .word {
        position: absolute;
        inset: 0;
        // top:;
        
    }
    
}

@media screen and (max-width: 768px) {
    .container {
        .word {
            display: none;
        }
    }
    
}