.container {
    position: relative;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .sliderContainer {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .slider {
            position: relative;
            white-space: nowrap;

            p {
                font-size: clamp(8rem, 22vw, 36vw);
                font-weight: 500;
                color: #fff;  
                text-transform: uppercase; 
                letter-spacing: 4px;        

                span {
                    display: inline-block;
                    vertical-align: middle;

                    svg {
                        width: 1.3em;
                        height: 1.3em;
                        fill: currentColor;
                    }
                }
            }

            p:nth-of-type(2) {
                position: absolute;
                left: 100%;
                top: 0;
            }
        }
    }

    .btnClick {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);

        a {
            position: relative;
            display: inline-block;
            background-color: #2c2a2a;
            padding: 18px 30px;
            border-radius: 99px;
            text-decoration: none;
            font-size: 18px;
            text-transform: uppercase;
            vertical-align: baseline;
            color: #fff;
            width:max-content;
            
            span {
                position: relative;
                padding-left: 40px;
                display: inline-block;
            }

            &::before {
                content: '';
                background-color: #c2e9fb;
                width: 2.4rem;
                height: 2.4rem;
                display: block;
                position: absolute;
                left: 22px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 99px;
                transition: all .5s cubic-bezier(.77, 0, .175, 1);
            }
        }
    }



    .socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2vw 4rem;
        color: #fff;
        font-size: clamp(14px, 1.2vw, 19px);

        .links {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1.2vw;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }

}

@media only screen and (max-width: 596px) {
    .container {
        .btnClick {
            top: 60%;
        }
    }
    
}