.container {
    position: relative;  
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    color: var(--color-white);
    overflow-x: hidden;
    
    
    .title {
        position: sticky;
        top: 0;
        height: min(60dvh, 1200px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: calc(clamp(5em, 21vw, 12em) * 1.66);
        padding-bottom: calc(clamp(5em, 21vw, 12em) * .83);
        text-transform: uppercase;
  
        h2 {
           font-size: 26vw;
           line-height: 40vw;
           letter-spacing: 8px;
           text-align: center;
           
        }
    }    
}

@media screen and (max-width: 991px) {
    .container {
       .title {
          height: auto;
          padding: calc(clamp(5em, 21vw, 12em) * .5) 0 0 ;
 
          h2 {
          font-size: 32vw;
          }
       }      
    }
 }