.nav{
    overflow: hidden;
    background-color: #8EAEB6;
    touch-action: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
 
    .container {
        height: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 16px;
        padding: 0 8rem;
    } 
}
 
 @media only screen and (max-width: 1200px) {
    .nav{
        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }           
    }
}


 
