.nav{
    overflow: hidden;
    touch-action: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    .menuBg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;

        .col {
            position: relative;
            width: 100%; 
            height: 100%; 
            background-color: var(--color-cadet); 
            // background: red;   
            
        }
    }
    
}
 
 @media only screen and (max-width: 1024px) {
    .nav{
        .container {
            grid-template-columns: 1fr;
            padding: 0 4rem;
            grid-template-rows: 1fr auto;
        }           
    }
}


 
