.container {
    position: relative;
    padding: 0 16rem;
    background: #EAEAEA;
    
    h3 {
        padding-bottom: 6rem;
        font-size: 24px;
    }
}

@media screen and (max-width: 1600px) {
    .container {
        padding: 0 8rem ;
    }
}

@media screen and (max-width: 1332px) {
    .container {
        h3 {
            padding-bottom: 4rem;
        }
    }
}

@media screen and (max-width: 1096px) {
    .container {
        padding: 0 8vw;
        h3 {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 884px) {
}

@media screen and (max-width: 778px) {
    .container {
        h3 {
            font-size: 16px;
        }
    }

}

@media screen and (max-width: 512px) {
    .container {
        h3 {
            font-size: 12px;
        }
    }

}