.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 4rem;
    padding-left: calc(var(--section-padding) / 2);

    .box {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .business {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        h4 {
            font-size: var(--small-text-size);
            opacity: .5;
        }

        a {
            color: var(--color-white);
            font-size: var(--small-text-size);
            width: fit-content;
        }
    }
}

@media only screen and (max-width: 1023px) {
    .infoContainer {
        order: 1;
        padding: 0;

        .social, .menu {
            display: none;
        }

        .box {
            padding-bottom: var(--section-padding);
            flex-direction: row;
        }
    }
}