.imageContainer{
    position: absolute;
    width: 360px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    z-index: 0;
    right: 0vw;
    
    img{
        opacity: 0.6;
        border-radius: 10px;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 1600px) {   
    .imageContainer{
        width: 360px;
        height: 180px;
    }    
}

@media only screen and (max-width: 1460px) {   
    .imageContainer{
        width: 300px;
        height: 180px;
    }    
}

@media only screen and (max-width: 1300px) {   
    .imageContainer{
        width: 260px;
        height: 140px;
    }    
}

@media only screen and (max-width: 1024px) {   
    .imageContainer{
        display: none;
    }
    
}