.container {
    position: sticky;
    height: 100vh;
    top: 0px;
    display: flex;
    justify-content: center;   
    align-items: center; 
    
    .card {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform-origin: top;
        will-change: transform;

        h2 {
            position: absolute;
            top: clamp(3rem, 1.6vh, 6rem);
            text-align: center;
            font-size: clamp(8rem, 7vw, 12rem);
            // font-size: 120px;
            z-index: 2;
            text-transform: uppercase;
        }

        .imageContainer {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .innerView {
                position: relative;
                height: 100%;
                width: 100%;

                img {
                    object-fit: cover;
                }
            }

            .video {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 60%;
                height: 50%;

                .videoContainer {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    .inner {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        img {
                            object-fit: cover;
                        }

                    }

                }
            }


        }    
    }
}

@media screen and (max-width: 768px) {
    .container {
        .card {
            .imageContainer {
                .video {
                    width: 80%;
                }
            }
        }
    }

}

@media screen and (max-width: 600px) {
    .container {
        .card {
            .imageContainer {
                .video {
                    width: 90%;
                    height: 40%;
                }
            }
        }
    }

}