.container {
    position: sticky;
    height: 100vh;
    top: 0px;
    display: flex;
    justify-content: center;   
    align-items: center; 
    
    .card {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform-origin: top;
        // will-change: transform;

        h2 {
            position: absolute;
            top: clamp(1rem, 1vh, 2rem);
            text-align: center;
            font-size: clamp(6rem, 7vw, 12rem);
            z-index: 2;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 6.2vw;
            padding-top: 1.6vh;
        }

        .imageContainer {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 8px;

            .image {
                position: relative;
                height: 90%;
                width: 100%;

                img {
                    object-fit: cover;                    
                }
            }


            .video {
                position: absolute;
                left: 50%;
                top: 44%;
                transform: translate(-50%, -50%);
                width: 768px;
                height: 432px;
                
                .videoContainer {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    
                    .inner {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        img {
                            object-fit: cover;
                        }

                    }

                }
            }


        }    
    }
}

@media screen and (max-width: 1024px) {
    .container {
        .card {
            h2 {
                font-size: 12vw;
                line-height: 12vw;
            }
            .imageContainer {
                .video {
                    width: 512px;
                    height: 288px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        .card {
            .imageContainer {
                .video {
                    width: 512px;
                    height: 288px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        .card {
            h2 {
                font-size: 16vw;
                line-height: 15vw;
            }
            .imageContainer {
                .video {
                    top: 36%;
                    width: 384px;
                    height: 216px;
                }
            }
        }
    }

}