.container {
    position: sticky;
    height: 100vh;
    top: 0px;
    display: flex;
    justify-content: center;   
    align-items: center; 
    padding-top: clamp(4rem, 8vh, 12rem);
    
    .card {
        position: relative;
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform-origin: top;

        h2 {
            position: absolute;
            font-size: clamp(3em, 6vw, 8em);
            text-transform: uppercase;
            padding-top: min(.4rem, 1vh);
            z-index: 1;
        }

        .imageContainer {
            position: relative;
            width: 100%;
            aspect-ratio: 1.618 / 1;
            border-radius: 1rem;
            overflow: hidden;
            background-color: lightgray;

            .image {
                height: 100%; 
                
                img {
                    object-fit: cover;
                }
            }

            .videoContainer {
                position: absolute;
                inset: 50% 0 0 50%;
                transform: translate(-50%, -50%);
                width: 64%;
                aspect-ratio: 16 / 9;
                z-index: 2;
                
                .video {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border-radius: .5rem;
                    
                    img {
                        object-fit: cover;
                    }                
    
                }
            }        


        }    
    }
}



@media screen and (max-width: 991px) {
    .container {
        .card {
            h2 {
                font-size: 10vw;
                line-height: 12vw;
            }

            .imageContainer {
                width: 100%;
                height: 90%;

                .videoContainer {
                    width: 96%;                    
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        .card {
            height: 100%;

            h2 {
                font-size: clamp(6em, 6vw, 8em);
                line-height: 15vw;
            }
            .imageContainer {
                .videoContainer {
                    top: 45%;
                }
            }
        }
    }

}