.container {   
    position: relative;

    .wrapper {
        padding: 0 var(--section-padding);
        // margin: 0 auto;
        // max-width: 1536px;

        .videoContainer {
            position: relative;
            width: 90%;
            aspect-ratio: 16 / 9;
            margin: 0 auto;
            margin-bottom: calc(var(--section-padding) * 2);
            
            
            .videoElement {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 1rem;
            }                                     
        } 
    }
    
}

@media screen and (max-width: 600px) {
    .container{
        .wrapper {
            padding: 0 calc(var(--section-padding) / 2);

            .videoContainer {
                width: 100%;
            }
        }               
    }    
}