.container {   
    position: relative;
    .videoContainer {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        margin-bottom: calc(var(--section-padding) * 2);
        
        .videoElement {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }                                     
    }
    
    .largeImage {
        width: 100%;
        height: 110vh;
        overflow: hidden;
        
        .imageContainer {  
            position: relative;
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 120%;
                top: -10%;
            }
        }
    }

    .mobileImages {
        padding: calc(var(--section-padding) * 2) 0;
        width: 100%;
        .row {
            flex-wrap: wrap;
            display: flex;
            width: 100%;

            .column {
                width: 33.33%;
                display: flex;
                justify-content: center;
                border-radius: .5rem;

                .singleImage {
                    position: relative;
                    width: 68%;
                    aspect-ratio: 9 / 16;

                    img {
                        object-fit: cover;
                    }
                }

            }

        }
    }
}

@media screen and (max-width: 600px) {
    .container{
        .largeImage {
            height: auto;
            aspect-ratio: 1 / 1;
        }
        .mobileImages {
            .row {
                .column {
                    .singleImage {
                        width: 80%;
                    }
                }
            }
        }
    }    
}