.body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: var(--section-padding);
    z-index: 3;

    .wrapper {
        a{
            color: var(--color-beige);
            text-decoration: none;
            text-transform: uppercase;
            filter: brightness(1.25);  

            p{
                position: relative;
                display: flex;
                font-size: clamp(5rem,11vw, 12rem);
                
                span {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 0 calc(var(--gap-padding) / 4);

                    &.active {
                        left: calc(clamp(-16px, -1.2vw, -19px) / 1.25)
                    }

                    &.active::before {
                        content: '';
                        display: block;
                        width: calc(clamp(16px, 1.2vw, 19px) / 1.65);
                        height: calc(clamp(16px, 1.2vw, 19px) / 1.65);
                        border-radius: 50%;
                        background-color: var(--color-white);
    
    
                    }
                }
                
            }
        }
    }

}

@media only screen and (max-width: 768px) {    
    .body{
        .wrapper{
            a{
                p{  
                    line-height: 16vw;
                }
            }
        }
    }
}





