.body{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-top: 160px;
    font-family: "Archivo Black", sans-serif;

    .wrapper {
        position: relative;   
        display: flex;
        align-items: center;     
    }

    a{
        color: #E8E7CB;
        text-decoration: none;
        text-transform: uppercase;
        p{
            display: flex;
            overflow: hidden;
            font-size: 9vw;
            padding-right: 2vw;        
            padding-top: 10px;
            font-weight: 400;
            line-height: 1.1;
            letter-spacing: -10px;            
        }
    }
}

@media only screen and (max-width: 1600px) {   
    .body{
        margin-top: 200px;        
        p{  
            letter-spacing: -6px;   
            line-height: 1.6;       
        }
    }
}

@media only screen and (max-width: 1024px) {   
    .body{
        a{
            p{  
                letter-spacing: -4px;  
                line-height: 1.8;    
            }
        }       
    }
}

@media only screen and (max-width: 768px) {    
    .body{
        a{
            p{  
                letter-spacing: -2px;
                font-size: 12vw;  
                line-height: 1.6;        
            }
        }
    }
}

@media only screen and (max-width: 600px) {    
    .body{
        a {
            p{  
                letter-spacing: 0px;
                line-height: 1.4;       
            }
        }
    }
}