.container {
    position: relative;
    background: linear-gradient(to bottom, #EBEBEB, #EAEAEA);
    height: 144vh;
    padding: 16vh 8rem 0;

    h3 {
        padding-bottom: 60px;
        font-size: 24px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 8rem;

        .description {   
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 4rem;
            // justify-content: flex-end;
            // align-items: center;

            .paragraph{
                display: flex;
                font-size: 2vw;
                line-height: 1.2;
                max-width: 1000px;
                color: #000;
                flex-wrap: wrap;
                
            }
        }

        .expertise {
            display: flex;
            flex-direction: column;
            margin-left: 8rem;
            max-width: 1000px;

            h5 {
                font-size: 16px;
                padding-bottom: 4vh;
                letter-spacing: 4px;
            }

            div {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
            }

            p {
                font-size: 1.6vw;
                margin-bottom: 0.4rem;

                span {
                    display: inline-block;
                    margin-left: .8rem;
                }
            }
            
          
        }

        .word{
            position: relative;
            margin-right: 12px;
            margin-top: 12px;
        
                .shadow {
                    position: absolute;
                    opacity: 20%;
                }
        }
    }
}