
.container {
    height: 100vh;
    background-color: var(--color-preloader);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

    p{
        display: flex;
        align-items: center;
        color: var(--color-white);
        font-size: calc(var(--regular-text-size) * 2);
    }
}