.container {
    padding: 6rem calc(var(--section-padding) / 2) 0;
    position: relative;
    height: 100vh;
    background: var(--color-preloader);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .imageContainer {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 2rem;   
   
        img {
            object-fit: cover; 
            max-width: 100%;
            transform-style: preserve-3d;
            transition: all 1.5s cubic-bezier(0.4, 0, 0.2, 1);
            
            &:hover {
                transform: scale3d(1.1, 1.1, 1)                
            }
        }    
    }

    .textContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        pointer-events: none;
        
        h4 {
            font-size: var(--regular-text-size);
            opacity: .5;
        }
        
        h2 {
            font-size: 26vw;
            text-transform: uppercase;
            letter-spacing: 8px;
        }
    } 

    .nextBtn {
        position: absolute;
        top: 20%;
        right: 10%;
        z-index: 2;
    }

    .socials {
        padding-top: 2rem;
    }    
}

