.textContainer {
    padding: var(--section-padding);
    padding-bottom: calc(var(--section-padding) * 2);
    display: grid;
    grid-template-columns: auto 1fr;
    z-index: 1;

    .details {
        display: flex;
        flex-direction: column;
        gap: var(--gap-padding);

        .box {
            display: flex;
            flex-direction: column;

            h4 {
                font-size: var(--small-text-size);
                opacity: .5;
                line-height: 1.5;
            }
            
            p {
                font-size: calc(var(--regular-text-size) * .8);
            }
            
            a{
                display: flex;
                align-items: center;
                gap: .2em;
                font-size: var(--regular-text-size);
                text-decoration: none;
                color: white;
                line-height: .86;
                overflow: hidden;
                margin-bottom: .4em;              
                
                .arrow {
                    display: flex;
                    align-items: center;
                    width: var(--regular-text-size);
                    transform: translateY(100%);
                    transition: all .2s cubic-bezier(.76, 0, .24, 1);


                    svg {
                        fill: var(--color-white);
                        width: 100%;
                    }
                }

                .text {
                    opacity: .5;
                    transition: opacity .25s cubic-bezier(.76, 0, .24, 1);

                    &:hover {
                        opacity: 1;
                    }
                }


                .text:hover + .arrow {
                    transform: translateY(0);
                }
            }
            
        }
    }

    .description {
        padding-left: calc(var(--section-padding) * 2);
        p {
            display: block;
            word-break: break-word;
            max-width: calc(clamp(1.5rem, 1.8vw, 2.8rem) * 30);        
            line-height: 1.5;
            font-size: var(--regular-text-size);
        }

    }

    .liveBtn {
        position: absolute;
        top: 5%;
        right: 10%;
    }
}

@media screen and (max-width: 1024px) {
    .textContainer {       
        .description {
            padding-left: calc(var(--section-padding));
          
        }
    }
}  

@media screen and (max-width: 768px) {
    .textContainer {
        grid-template-columns: 1fr;
        gap: calc(var(--section-padding) * .5);

        .details {
            .box {
                a {
                    line-height: 1;
                    margin-bottom: 0;
                    .arrow {
                        width: calc(var(--regular-text-size) * 1.6);
                        height: calc(var(--regular-text-size) * 1.6);
                        transform: translateY(0);
                        opacity: .5;

                    }
                }
            }
        }

        .description {
            padding-left: 0;

            p {
                max-width: 100%;  
            }
        }
    }
}

@media screen and (max-width: 512px) {
    .textContainer {
        padding-left: var(--mobile-padding);
        padding-right: var(--mobile-padding);
    }
}