.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  
  .imageContainer {
    position: relative;
    width: 100vw;
    height: 110%;

    img {
      object-fit: cover;
    }
  }

  .topLeft {
      position: absolute;
      top: 15rem;
      left: 8rem;
      display: flex;
      flex-direction: column;
      transform-style: preserve-3d;
  }
  
  .bottomRight {
    position: absolute;
    bottom: 7.5rem;
    right: 8rem;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    align-items: flex-end;
  }
}

  

  
  
 