.container {
  position: relative;
  min-height: 115vh;
  overflow: hidden;

  .topLeft {
      position: absolute;
      top: 15rem;
      left: 8rem;
      display: flex;
      flex-direction: column;
      transform-style: preserve-3d;
  }
  
  .bottomRight {
    position: absolute;
    bottom: 7.5rem;
    right: 8rem;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    align-items: flex-end;
  }
}

  

  
  
 