.container {
    position: relative;
    height: 100vh;
    background: var(--color-preloader);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .sliderContainer {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .slider {
            position: relative;
            white-space: nowrap;

            p {
                font-size: clamp(8rem, 22vw, 36vw);
                font-weight: 500;
                color: var(--color-white);  
                text-transform: uppercase; 
                letter-spacing: 4px;        

                span {
                    display: inline-block;
                    vertical-align: middle;

                    svg {
                        width: 1.3em;
                        height: 1.3em;
                        fill: currentColor;
                    }
                }
            }

            p:nth-of-type(2) {
                position: absolute;
                left: 100%;
                top: 0;
            }
        }
    }

    .btnClickFooter {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);        
    }

    .socialsFooter {
        padding-left: var(--section-padding);
        padding-right: var(--section-padding);
    }
}

@media only screen and (max-width: 596px) {
    .container {
        .btnClickFooter {
            top: 60%;
        }
        
        .socialsFooter {
            padding-left: var(--mobile-padding);
            padding-right: var(--mobile-padding);
        }
    }

    
}