.container {
    background-color: var(--color-dark);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    color: var(--color-white);

    .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;


        h2 {
            line-height: 1.3;
            font-size: clamp(4rem, 7vw, 8rem);
            max-width: clamp(300px,40vw, 800px);
        }

        p {
            font-size: clamp(1rem, 3vw, 2rem);
            max-width: clamp(300px,24vw, 480px);
            text-align: center;
            word-break: break-word;
        }

    }
    
    .wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        place-content: center;
        width: 100%;
    }
}