.container {
    background-color: var(--color-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 var(--section-padding);
    color: var(--color-white);

    .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--container-padding) 0;


        h2 {
            line-height: 1.3;
            font-size: var(--small-heading);
            max-width: clamp(300px,40vw, 800px);
        }

        p {
            font-size: var(--regular-text-size);
            max-width: clamp(480px,24vw, 600px);
            text-align: center;
            word-break: break-word;
        }
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: 7fr 3fr;
    }

    .btnClickContact {   
        margin: 8vh 0;      

        a {
            border: var(--light-border); 
        }
    }

    .socialsContact {   
        padding-top: 8vh;
    }
}

@media only screen and (max-width: 1023px) {
    .container {
        .wrapper {
            grid-template-columns: 1fr;
        }
    }
}

@media only screen and (max-width: 512px) {
    .container {
        // padding: 0 var(--mobile-padding);
       
    }
}
