.wrapper {
    position: relative;
    padding: calc(var(--section-padding) / 2);
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 0 calc(var(--section-padding) / 2);
    }
    
}