.container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100vh;    
    display: flex;
    // background: #8EAEB6;
    padding: 0px 6rem;
    background: url('../../../../public/images/bg-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  





