.container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100vh;   
    background-color: #8EAEB6; 
    background-image: url('../../../../public/images/bg-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  





