.container {
    position: relative;
    min-height: 100vh;
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: calc(clamp(5em, 21vw, 12em)* 2) var(--section-padding) 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textContainer {
        display: flex;
        flex-direction: column;
        h2 {
            line-height: 1.3;
            font-size: var(--large-heading-size);
            opacity: .5;
        }

        p {
            font-size: calc(var(--large-heading-size) * 0.7);
        }

        .btnClick404 {
            padding: calc(clamp(5em, 21vw, 12em) * .7) 0;
            justify-self: center;
            a{
                border: var(--light-border);
            }
        }
    }
}