:root {
  --color-dark: #1C1D20;
  --color-white: #fff;
  --color-beige: #E8E7CB;
  --color-cadet: #6D7688;
  --color-light-blue: #c2e9fb;

  --section-padding: clamp(4rem, 10vw, 16rem);
  --container-padding: calc(clamp(5em, 21vw, 12em) * 1.5);
  --gap-padding: clamp(1.5em, 4vw, 2.5em);
  --mobile-padding: calc(var(--section-padding) / 2);

  --regular-text-size: clamp(1.5rem, 3vw, 2.8rem);
  --small-text-size: clamp(1.2rem, 2vw, 1.6rem);

  --small-heading: clamp(4rem, 7vw, 8rem);
  --regular-heading: 18vw;
  --large-heading: 28vw;

  --light-border: 1px solid rgba(255, 255, 255, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Lenis css */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Global classes */
.rel {
  position: relative;
}

a {
  all: unset;
  color: inherit;
  text-decoration: none;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  cursor: pointer;
}

.overlay {
  position: absolute;
  background-color: rgb(28, 29, 32, 0.85);
  inset: 0%;
  height: 100%;
  z-index: 1;
  opacity: 0.8;
  pointer-events: none;
}

/* Background parallax */
.imageContainer {
  position: absolute;
  width: 100vw;
  height: 110%;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* button styling */
.btnClick {     
  border: none;  
  background-color: transparent;
  width: fit-content;
  margin: 0 auto;
}

.btnClick a {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: var(--color-dark);
  padding: 18px 30px;
  border-radius: 99px;
  text-decoration: none;
  font-size: var(--small-text-size);
  text-transform: uppercase;
  vertical-align: baseline;
  color: var(--color-white);
}

.btnClick a span{
  position: relative;
  padding-left: 40px;
  display: inline-block;
}

.btnClick a::before {
  content: '';
  background-color: var(--color-light-blue);
  width: 2.4rem;
  height: 2.4rem;
  display: block;
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 99px;
  transition: all .5s cubic-bezier(.77, 0, .175, 1);
}

/* Curved border */
.curvedBorder {
  position: relative;
  width: 100%;
  height: 0;
  border: none;
}

.circleContainer {
  position: relative;
  background-color: transparent;
  width: 100%;
  overflow-x: hidden;
}

.circle {
  position: absolute;
  content: "";
  width: 150%;
  background: var(--color-dark);
  height: 750%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -86.666%);
}

/* Footer */
.socials {
  padding-bottom: var(--gap-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
  font-size: var(--small-text-size)
}

.socials .links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2vw;
}

.socials .links a {
  text-decoration: none;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

/* Video component */
.videoContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  color: #fff;
}

.videoElement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}