:root {
  --color-dark: #1C1D20;
  --color-white: #fff;
  --color-beige: #E8E7CB;
  --color-cadet: #8EAEB6;
  --color-light-blue: #c2e9fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.btnClick {       
  border: none;
  background-color: transparent;
}

.btnClick a {
  position: relative;
  display: inline-block;
  background-color: var(--color-dark);
  padding: 18px 30px;
  border-radius: 99px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  vertical-align: baseline;
  color: var(--color-white);
  width:max-content;
}

.btnClick a span{
  position: relative;
  padding-left: 40px;
  display: inline-block;
}

.btnClick a::before {
  content: '';
  background-color: var(--color-light-blue);
  width: 2.4rem;
  height: 2.4rem;
  display: block;
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 99px;
  transition: all .5s cubic-bezier(.77, 0, .175, 1);
}

@media only screen and (max-width: 596px) {
    .btnClick {
        a{
            font-size: 10px;
        }
    } 
}
