.container {
    position: relative;
    overflow: hidden;
    
    
    .wrapper {
        position: relative;
        min-height: 110vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;        
        
        img {
            filter: grayscale(90%);
        } 

        .textContainer {
            position: relative;
            top: 15vh;
            flex: 1;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 2;

            h2 {
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                font-size: 12.5vw;
                line-height: 10.4vw;
                text-align: center;
                
                span {
                    display: inline-block;
                }
            }
    
            h4 {
                font-size: clamp(1rem, 3.4vw, 2.8rem);
                line-height: 3vw;
                text-transform: uppercase;
                max-width: clamp(600px, 50vw, 840px);
                text-align: center;
                margin-bottom: 2vw;

            }

            p {
                text-align: center;
                text-transform: uppercase;
                font-size: 1.05vw;
                line-height: 1.1vw;
                max-width: clamp(300px,40vw, 800px);
            }
        }

    }

    .services {
        position: relative;
        background-color: var(--color-white);
        height: 200vh;
    }
}

@media only screen and (max-width: 973px) {
    .container {
        .wrapper {
            .textContainer {
                h2 {
                    font-size: 12.5vw
                }

                h4 {
                    font-size: 2.4vw;
                    max-width: clamp(500px, 50vw, 700px);
                }

                p{
                    font-size: 12px;
                    line-height: 12px;
                }
            }
        }
    }
}

@media only screen and (max-width: 748px) {
    .container {
        .wrapper {
            .textContainer {
                h2 {
                    font-size: 16vw;
                    line-height: 13vw;
                }

                h4 {
                    font-size:clamp(2rem, 3.2vw, 6rem);
                    line-height: 4vw;
                }
            }
        }
    }
}


@media only screen and (max-width: 748px) {
    .container {
        .wrapper {
            .textContainer {
                h2 {
                    font-size: 16vw;
                    line-height: 13vw;
                }

                h4 {

                    max-width: clamp(240px, 40vw, 500px);
                    line-height: 4.5vw;
                }
            }
        }
    }
}